apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: media-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 514439471441.dkr.ecr.us-east-1.amazonaws.com/saikiranasamwar4/frontend:latest
        ports:
          - containerPort: 80
